{% extends "base.html" %}

{% block AAPL_head %}
  <title>Apple Inc.</title>
  <!-- <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css"> -->
  <link rel='stylesheet' href="{{ url_for('static', filename='styles/securities_style.css') }}"/>

  <!-- <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- {{ price|safe }}
  {{ regress|safe }} -->
{% endblock %}

<!-- Pre-packaged inside row using base.html inheritance -->
{% block AAPL_header %}
  <h1>Apple Inc.</h1>
{% endblock %}

<!-- Pre-packaged inside row using base.html inheritance -->
{% block AAPL %}
<!-- auto-fit, auto-fill for complete article content. auto-fit expands to fill entire viewport if there are only a few items to display.
  auto-fill will maintain rules given if a few items to display; utilizes extra grid space for emptiness. fill desired.-->
<!-- Within the main content section, 3 distinct rows (articles/info, graphs, date selectors) -->
  <section class='row info'>
    <aside class='col-lg-8 col-md-6 articles'>
      <div class='row' id='head'>
        <h3 id='head-title'>Articles of Interest:</h3>
        <p id='attribution'><a href='https://www.wsj.com/'>WSJ</a> powered by <a href='https://newsapi.org/'>NewsApi.org</a></p>
      </div>
      <ul class='list-unstyled row articles'>
        {% for row, article in articles.iterrows() %}
          <li class='list-item border-top border-bottom border-right col-lg-6 article'>
            <a class='picture-link' href='{{ article["url"] }}'><img class='picture' src='{{ article["urlToImage"] }}' alt='Image relating to article'/></a>
            <a class='title' href='{{ article["url"] }}'><p>{{ article['title'] }}</p></a>
            <p id='description'>{{ article['description'] }}</p>
          </li>
        {% endfor %}
      </ul>
    </aside>
    <aside class='col-lg-4 col-md-6 company'>
      <div class='row' id='head'>
        <h3 id='head-title'>Company Info.</h3>
      </div>
      <!-- <ul class='list-unstyled row company_info'>

      </ul> -->
      <!-- Company info will go here...Maybe whole bunch of rows for given information... -->
    </aside>
  </section>

  <div class='row'>
    <div class='col-lg-12 col-md-12 col-sm-12'>
      <form method='POST' class='date-selector'>
        <div class='enter'>
          <label class='date1' for='date1'>Beg. Date:</label><input type='date' name='date1' />
          <label class='date2' for='date2'>End Date:</label><input type='date' name='date2' />
          <button type='submit'>Change Date</button>
        </div>

        <div class='choose'>
          <!-- <input type='radio' name='range' value='1D' />Daily -->
          <input type='radio' name='range' value='1M' checked/>1M <!--Default will always be 1M which causes problems with Choose Date-->
          <input type='radio' name='range' value='3M' />3M
          <input type='radio' name='range' value='6M' />6M
          <input type='radio' name='range' value='1Y' />1Y
          <input type='radio' name='range' value='5Y' />5Y
          <button type='submit'>Change Date</button>
        </div>
      </form>
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-6 col-md-6 price' id='price'>
      <script type='text/javascript'>
        var graphs = {{ price | safe }};
        var layout = { width: 0.9 * window.innerWidth,
                      height: 0.9 * window.innerHeight };
        Plotly.newPlot('price', graphs, layout);

        window.onresize = function() {
            Plotly.relayout(myDiv, {
              width: 0.9 * window.innerWidth,
              height: 0.9 * window.innerHeight
            });
          };
        };
      </script>
    </div>
    <div class='col-lg-6 col-md-6 regression' id='regression'>
      Regression Graph here
    </div>
  </div>
  <!-- <div class='container-fluid'>

    <div class='row'>
      <div class='col-lg-8'>
        <div id='price' class='price'>
          <script type='text/javascript'>
            var graphs = {{ price | safe}};
            Plotly.plot('price', graphs, {}, {});
          </script>
        </div>
      </div>
    </div>
    </div> -->
  <!-- <section id='graph-container' class='graphs'>
    <div id='price' class='price'>
    </div>
    <div id='regression' class='regression'>
      <script>
        var graphs = {{regress | safe}};
        Plotly.react('regression', graphs, {}, {responsive:true});
      </script>
    </div>
  </section> -->

{% endblock %}
