{% extends "base.html" %}

{% block FB_head %}
  <title>Facebook Inc.</title>
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link rel='stylesheet' href="{{ url_for('static', filename='styles/securities_style.css') }}"/>

  <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- {{ price|safe }}
  {{ regress|safe }} -->
{% endblock %}

{% block FB_header %}
  <h1>Facebook Inc.</h1>
{% endblock %}

{% block FB %}
<section class='row info'>
  <aside class='col-lg-8 col-md-6 articles'>
    <div class='row' id='head'>
      <h3 id='head-title'>Articles of Interest:</h3>
      <p id='attribution'><a href='https://www.wsj.com/'>WSJ</a> powered by <a href='https://newsapi.org/'>NewsApi.org</a></p>
    </div>
    <ul class='list-unstyled row articles'>
      {% for row, article in articles.iterrows() %}
        <li class='list-item border-top border-bottom border-right col-lg-6 article'>
          <a class='picture-link' href='{{ article["url"] }}'><img class='picture' src='{{ article["urlToImage"] }}' alt='Image relating to article'/></a>
          <p class='title'><a href='{{ article["url"] }}'>{{ article['title'] }}</a></p>
          <p id='description'>{{ article['description'] }}</p>
        </li>
      {% endfor %}
    </ul>
  </aside>
  <aside class='col-lg-4 col-md-6'>
    <div class='row' id='head'>
      <h3 id='head-title'>Stock Info.</h3>
    </div>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h4>Company Information</h4>
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <ul class='list-unstyled row'>
              {% for row, info in company_info.iterrows() %}
                <li class='list-item border-bottom col-12'>
                  <h5 class='company measurelabel head'>{{ row }}</h5>
                  <p class='company measurevalue'>{{ info[0] }} </p>
                  <!-- Might want to put these on same row at some point -->
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4>Financial Information</h4>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <ul class='list-unstyled row'>
              {% for head, ratio_group in financial_info.items() %}
                <li class='list-item border-bottom col-12 '>
                  <h5>{{ head }}</h5>
                </li>
                <li class='list-item col-12'>
                  <ul class='list-unstyled keep-indent'>
                    {% for measure, ratio in ratio_group.items() %}
                      <li class='list-item col-12 row contain'>
                        <span class='financial measurelabel'>{{ measure }}</span>
                        <span class='financial measurevalue'>{{ ratio }}</span>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </aside>
</section>


<div class='row'>
  <div class='col-lg-12 col-md-12 col-sm-12'>
    <form method='POST' class='date-selector'>
      <div class='enter'>
        <label class='date1' for='date1'>Beg. Date:</label><input type='date' name='date1' />
        <label class='date2' for='date2'>End Date:</label><input type='date' name='date2' />
        <button type='submit'>Change Date</button>
      </div>

      <div class='choose'>
        <!-- <input type='radio' name='range' value='1D' />Daily -->
        <input type='radio' name='range' value='1M' checked/>1M <!--Default will always be 1M which causes problems with Choose Date-->
        <input type='radio' name='range' value='3M' />3M
        <input type='radio' name='range' value='6M' />6M
        <input type='radio' name='range' value='1Y' />1Y
        <input type='radio' name='range' value='5Y' />5Y
        <button type='submit'>Change Date</button>
      </div>
    </form>
  </div>
</div>

<div class='row'>
  <div class='col-lg-6 col-md-6 price' id='price'>
    <script type='text/javascript'>
      var graphs = {{ price | safe }};
      var layout = { width: 0.9 * window.innerWidth,
                    height: 0.9 * window.innerHeight };
      Plotly.newPlot('price', graphs, layout);

      window.onresize = function() {
          Plotly.relayout(myDiv, {
            width: 0.9 * window.innerWidth,
            height: 0.9 * window.innerHeight
          });
        };
      };
    </script>
  </div>
  <div class='col-lg-6 col-md-6 regression' id='regression'>
    Regression Graph here
  </div>
</div>
{% endblock %}
