{% extends "base.html" %}

{% block UAA_head %}
  <title>Under Armour Inc.</title>
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link rel='stylesheet' href="{{ url_for('static', filename='styles/securities_style.css') }}"/>

  <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- {{ price|safe }}
  {{ regress|safe }} -->
{% endblock %}

{% block UAA_header %}
  <h1>Under Armour Inc.</h1>
{% endblock %}

{% block UAA %}
<section class='info'>
  <aside class='articles'>
    <div class='head'>
      <h3 id='head'>Articles of Interest:</h3>
      <p id='attribution'><a href='https://www.wsj.com/'>WSJ</a> powered by <a href='https://newsapi.org/'>NewsApi.org</a></p>
    </div>
      <ul>
        <script src='OpacityChange.js'></script>
        {% for row, article in articles.iterrows() %}
        <li class='article'>
          <a href='{{ article["url"] }}'><img src='{{ article["urlToImage"] }}' alt='Image relating to article'/></a>
          <a href='{{ article["url"] }}'><p class='title'>{{ article['title'] }}</p></a>
          <p id='description'>{{ article['description'] }}</p>
        </li>
        {% endfor %}
      </ul>

      <!-- <div>
        <p>Scripts would normally scrape <a href='https://wsj.com/news/markets'>WSJ news</a> for articles that match a subset of keywords for {{title}}.
        <a href='https://pythonanywhere.com'>PythonAnywhere</a> does not allow free accounts to conduct web scraping. Paid accounts, however,
        do and will be looked at as a viable option for this project. </p>
      </div> -->

  </aside>
  <aside class='company'>
    Company info will go here...
  </aside>
</section>


<form method='POST' class='date-selector'>
  <div class='enter'>
    <label class='date1' for='date1'>Beg. Date:</label><input type='date' name='date1' />
    <label class='date2' for='date2'>End Date:</label><input type='date' name='date2' />
    <button type='submit'>Change Date</button>
  </div>

  <div class='choose'>
    <!-- <input type='radio' name='range' value='1D' />Daily -->
    <input type='radio' name='range' value='1M' checked/>1M <!--Default will always be 1M which causes problems with Choose Date-->
    <input type='radio' name='range' value='3M' />3M
    <input type='radio' name='range' value='6M' />6M
    <input type='radio' name='range' value='1Y' />1Y
    <input type='radio' name='range' value='5Y' />5Y
    <button type='submit'>Change Date</button>
  </div>
</form>

<section class='graphs'>
  <div id='price' class='price'>
    <!-- {{ div1|safe }} -->
    <script>
      var graphs = {{price | safe}};
      Plotly.plot('price',graphs,{});
    </script>
  </div>
  <div id='regression' class='regression'>
    <script>
      var graphs = {{regress | safe}};
      Plotly.react('regression', graphs, {}, {responsive:true});
    </script>
  </div>

</section>
{% endblock %}
