{% extends "base.html" %}

{% block construct_head %}
<!-- Need to rework this page like the other securities -->
  <link rel='stylesheet' href="{{ url_for('static', filename='styles/base_style.css') }}"/>
  <link rel='stylesheet' href="{{ url_for('static', filename='styles/port_style.css') }}" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Interactive Datatables  -->
  <!-- <script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script> -->
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src='https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js'></script>
  <script src='https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js'></script>
  <script src='https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js'></script>

  <script type='text/javascript' src="{{ url_for('static', filename='js/init_datatables.js') }}"></script>
  <script>$(document).ready( function () {
      init_datatables('#rand_ports_table', false)
    });
  </script>
  <script>
    $(document).ready( function () {
      init_datatables('#user_port_table', true)
    });
  </script>
{% endblock %}

{% block construct %}
<div class='row weights-graph'>
  <div id='graph' class='col-lg-6 order-md-2 graph'>
    {% if not graph %}
    <div class='row'>
      <div class='col-11 extra-pad'>
        <h1 class='statement-title'>Directions for Mean-Variance Analysis:<sup class='footnote'><a href='#footnote1'>[1]</a></sup><sup class='footnote'><a href='#footnote2'>[2]</a></sup></h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-11'>
        <ol class='port-first-level-list'>
          <li class='list-item first-level'>
            Select a Beginning and Ending date from the form dropdown calendars to the left
          </li>
          <li>
            Then either:
            <ul class='port-second-level-list'>
              <li class='list-item second-level'>
                <i>Select</i> securities by checking the checkboxes for randomly generated weights or;
              </li>
              <li class='list-item second-level'>
                <i>Define</i> portfolio weights as text inputs to compare against an indentical set of securities with randomly generated weights
              </li>
            </ul>
          </li>
          <li class='list-item first-level'>
            Click the <b>Submit</b> Button
          </li>
        </ol>
      </div>
    </div>

    {% else %}
      <script type='text/javascript' src="{{ url_for('static', filename='js/plot.js') }}"></script>
      <script> $(document).ready(function() {
        plot({{ graph|safe }}, 'graph')
      });
      </script>
    {% endif %}
  </div>
  <div class='col-lg-5 order-md-1 weights box-shadow'>
    <div class='row weights-title'>
      <h2>Give weights to securities:</h2>
    </div>
    <!-- <form method='POST'>
      <div class='form-row'>
        <input type='text' name='num_portfolios' />
      </div>
    </form> -->
    <form method='POST'>
      <div class='form-row'>
        <div class='input-group'>
          <label for='num_portfolios'>Number of Random Portfolios:</label>
          <input type='text' name='num_portfolios' placeholder='ex. 200'/>
        </div>
      </div>
      <div class='form-row date-row'>
        <div class="input-group">

          <input type="date" class="form-control" name='date1' placeholder="04/01/2019"/>
          <div class='input-group-addon block-all-corners'>
            <span class="input-group-text">-</span>
          </div>
          <input type="date" class="form-control round-right-corners" name='date2' placeholder="04/12/2019"/>
          <button type="submit" class="btn btn-primary ml-3">Submit</button>
        </div>
      </div>
      <div id='titles' class='form-row'>
        <div class='col-12 d-inline-flex titles'>
          <div class='col-4 security-title'>
            Security Name
          </div>
          <div class='col-3 security-checkbox'>
            Select:
          </div>
          <div class='col-5 security-weight'>
            Define Weight:
          </div>
        </div>
      </div>
      {% for name, ticker in stocks.items() %}
        {% if name != 'S&P 500 Index' and name != 'Dow Jones Industrial Average': %}
          <div class='form-row'>
            <div class='col-12'>
              <div class='form-group'>
                <div class='input-group d-inline-flex align-items-center'>
                  <span class="input-group-addon col">{{ name }}</span>
                  <input class='col' type='checkbox' name='{{ ticker }}' />
                  <input class='form-control col round-left-corners' type='text' name='{{ ticker }}'/>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </form>
  </div>
</div>
<div class='row statistics'>
  <!-- Will put statistics on the portfolios here -->
  <!-- Large, dropwdown table will show all weights, the return, the deviation, sharpe ratio, etc.  -->
  <div id='accordion' class='col-12'>
    <div class='card'>
      <div class='card-header' id='statisticsHeading'>
        <button class='btn btn-link' data-toggle='collapse' data-target='#statistics' aria-expanded='true' aria-controls='statisticsHeading'>
          <h4 class='mb-0'>Portfolio Statistics</h4>
        </button>
      </div>
      <div id='statistics' class='collapse show' aria-labelledby='statisticsHeading' data-parent='#accordion'>
        <div class='card-body'>
          {% if user_data is defined %}
          <!-- Write in user_data -->
            <div class='table-responsive'>
              <h5>User Created Portfolio</h5>
              <table id='user_port_table', class='display dataTable'>
                <thead>
                  <tr>
                    <th class='sorting_asc'>
                      Portfolio Number
                    </th>
                    {% for column in user_data.columns %}
                      <th class='sorting'>
                        {{ column }}
                      </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for idx, data in user_data.iterrows() %}
                    <tr>
                      <td>
                        {{ idx + 1}}
                      </td>
                      {% for column in user_data.columns %}
                        <td>
                          {{ user_data.loc[idx, column] }}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              {{ user_port }}
            </div>
          {% endif %}
          <!-- Always write in rand_data -->
          {% if rand_data is defined %}
            <div>
              <h5>Randomly Generated Portfolios</h5>

              <table id='rand_ports_table' class='display dataTable'>
                <thead>
                  <tr>
                    <th class='sorting_asc'>
                      Portfolio Number
                    </th>
                    {% for column in rand_data.columns %}
                      <th class='sorting'>
                        {{ column }}
                      </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for idx, data in rand_data.iterrows() %}
                    <tr>
                      <td>
                        {{ idx + 1 }}
                      </td>
                      {% for column in rand_data.columns %}
                        <td>
                          {{ rand_data.loc[idx, column] }}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<div id='footnotes' class='row'>
  <p id='footnote1'>[1] Weekend dates and holidays are currently not supported to conduct Mean-Variance Analysis </p>
  <p id='footnote2'>[2] Portfolio standard deviation is calculated incorrectly by scripts; work is being done to correct the problem</p>
</div>


{% endblock %}
