{% extends "base.html" %}

{% block SPX_head %}
  <title>S&P 500 Index</title>
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
  <link rel='stylesheet' href="{{ url_for('static', filename='styles/securities_style.css') }}"/>

  <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.0.4.min.js"></script>
  {{ price|safe }}
{% endblock %}

{% block SPX_header %}
  <h1>S&P 500 Index</h1>
{% endblock %}

{% block SPX %}
<section class='info'>
  <aside class='articles'>
    <h3 class='head'>Articles of Interest:</h3>
    {% if articles != None %}
    <ul>
      {% for title_link in articles[title] %}
          <li class='article'><a href='{{ title_link[1] }}' title='{{ title_link[0] }}'>{{ title_link[0] }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <div>
        <p>Scripts would normally scrape <a href='https://wsj.com/news/markets'>WSJ news</a> for articles that match a subset of keywords for {{title}}.
        <a href='https://pythonanywhere.com'>PythonAnywhere</a> does not allow free accounts to conduct web scraping. Paid accounts, however,
        do and will be looked at as a viable option for this project. </p>
      </div>
    {% endif %}
  </aside>
</section>

  <section>
    <form method='POST'>
      <input type='radio' name='return_type' value='D' checked/>Daily
      <input type='radio' name='return_type' value='M' />Monthly
      <input type='radio' name='return_type' value='Y' />Yearly
      <span>  <!-- Return_Type form appear here -->
        <label class='date1' for='date1'>Beg. Date:</label><input type='date' name='date1' />
        <label class='date2' for='date2'>End Date:</label><input type='date' name='date2' />
      </span>
      <button type='submit'>Returns</button>
    </form>
    <div class='price'>
      {{ div1|safe }}
    </div>

  </section>
{% endblock %}
