{% extends "base.html" %} <!--Establishes inheritance link -->

{% block index_head %}
  <title>{{ title }}</title>
{% endblock %}

{% block index_header %}
  <h1>Homepage</h1>
{% endblock %}

{% block content %} <!--Matching block statement names (content) knows to combine here-->
  <p>
    This interface was designed for personal use to compile stock and company related information. This relates to company stock prices, financial information, relevant articles,
    and at some point links to company transcripts or earnings reports.
  </p>
  <p>
    Currently in the works:
    <ul>
      <li>
        DJIA and SPX charts are malfunctioning with Alpha_Vantage API - unable to pull data correctly for prices, but can for percentage changes in regression plots of individual securities
      </li>
      <li>
        Integrating a new dropdown button for security selection. The dropdown will also allow the user to visit pages that contain information of all available securities held by the interface or able to be searched (see below).
      </li>
      <li>
        Introducing a search function that allows a user to find a security (and all information) outside of the base set of securities held by the interface.
      </li>
      <li>
        Dealing with InsecureRequestWarning handled by urllib3 - looking at documentation for solution besides desiabling warnings. C:\Users\billies9\Anaconda3\lib\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
      </li>
      <li>
        Also looking into the addition of a page / built-in functionality on existing pages that allows users to download all of the related information for reports, etc.
      </li>
    </ul>
  </p>
{% endblock %}
