{% extends "base.html" %} <!--Establishes inheritance link -->

{% block index_head %}
  <title>{{ title }}</title>
{% endblock %}

<!-- Pre-packaged inside row using base.html inheritance -->
{% block index_header %}
  <h1>Homepage</h1>
{% endblock %}

<!-- Pre-packaged inside row using base.html inheritance -->
{% block content %} <!--Matching block statement names (content) knows to combine here-->
  <p class='summary'>
    This interface was designed for personal use to compile stock and company related information. This relates to company stock prices, financial information, relevant articles,
    and at some point links to company transcripts or earnings reports.
  </p>
  <p>
    Currently in the works:
    <ul class='works'>
      <li>
        <p class='content'>Re-developing site to be managed by Bootstrap Grid instead of CSS Grid.</p>
      </li>
      <li>
        <p class='content'>Portfolio page is not correctly displaying the specified portfolio upon POST of weights (not selectors for random portfolios)</p>
      </li>
      <!-- <li>
        <p class='content'>Organizing dropdown button to maintain consistency through page load/reloads.</p>
      </li> -->
      <li>
        <p class='content'>Introducing a search function that allows a user to find a security (and all information) outside of the base set of securities held by the interface.</p>
      </li>
      <!-- <li>
        Dealing with InsecureRequestWarning handled by urllib3 - looking at documentation for solution besides disabling warnings. C:\Users\billies9\Anaconda3\lib\site-packages\urllib3\connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
      </li> -->
      <li>
        <p class='content'>Also looking into the addition of a page / built-in functionality on existing pages that allows users to download all of the related information for reports, etc.</p>
      </li>
    </ul>
  </p>
{% endblock %}
