.date-row {
  margin-bottom: 1.5em;
}
.round-right-corners {
  border-top-right-radius: .25rem!important;
  border-bottom-right-radius: .25rem!important;
}
.weights-title {
  padding: .5vh .5vw;
}
.weights,
#footnotes {
  margin: 0 .5vw .5vh;
}
.footnote {
  vertical-align: super;
  font-size:.5em;
}
.graph {
  padding: 0;
}
#titles .titles > * {
  padding: 0;
}
.security-checkbox {
  text-align: center;
}
.security-weight {
  text-align:left;
  padding: 0;
}
.extra-pad {
  padding-left: 25px;
}
.port-second-level-list {
  padding-left: 25px;
}
