.date-row {
  margin-bottom: 1.5em;
}
.weights-title {
  padding: .5vh .5vw;
}
.weights {
  margin-left: .5vw;
}
#titles .titles > * {
  padding: 0;
}
.security-checkbox {
  text-align: center;
}
.security-weight {
  text-align:left;
  padding: 0;
}
