:root {
  --hover-link: #1f77b4;
}
.picture {
  width: 30%;
  min-width: 120px;
  float: left;
  margin-right: 5px;
}
#head {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
}
#attribution {
  align-self: flex-end;
  margin: 0 5px;
  color: rgba(0, 0, 0, .4);
}
#attribution a:link {
  text-decoration: underline;
  color: rgba(0, 0, 0, .6);
}
