:root {
  --hover-link: #1f77b4;
}
.picture {
  width: 30%;
  min-width: 120px;
  float: left;
  margin-right: 5px;
}
.title {
  display: block;
}
.articles:hover .article {
  opacity: 0.4;
  transition: all .25s linear;
}
.articles:hover .article:hover {
  opacity: 1;
  box-shadow: 3px 3px 2px black;
}
.card-header {
  padding: .4rem .9rem;
}
.keep-indent {
  padding-left: 10px;
}
.contain {
  display: inline-block;
  padding-right: 0px;
}
.measurelabel, .measurevalue {
  display: block;
}
.measurelabel {
  float: left;
  font-weight: bold;
}
.measurevalue {
  float: right;
}
.company.measurelabel {
  float: none;
}
.company.head {
  font-weight: 500;
}
#head {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
}
#attribution {
  align-self: flex-end;
  margin: 0 5px;
  color: rgba(0, 0, 0, .4);
}
#attribution a:link {
  text-decoration: underline;
  color: rgba(0, 0, 0, .6);
}
#description {
  clear: left;
  font-size: .8125em;
}
